#divBtnReturn {
  display: inline-block;
}

#divBtnReturn a {
  color: white;
  font-size: 16px;
}

#divPreparationTime {
  color: black;
  background-color: white;
  float: right;
  text-align: center;
  margin: 1%;
  padding: 1%;
}

#preparationTime {
  font-weight: bold;
}

#divInfoRecipe {
  position: absolute;
  bottom: 0;
  margin-left: 2%;
}

#recipeName {
  color: white;
  text-shadow: 1px 1px 2px #000;
}

#recipeDetails {
  text-shadow: 1px 1px 2px #000;
}

.list {
  display: flex;
}

::ng-deep .ant-checkbox {
  padding-top: 20%;
}

::ng-deep .ant-checkbox-inner {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  padding-top: 5%;
}

::ng-deep .ant-checkbox-checked .ant-checkbox-inner {
  background-color: green;
  border: none;
}

::ng-deep .ant-checkbox-checked::after {
  border: none;
}

::ng-deep .ant-checkbox-inner::after {
  left: 37%;
}

.steps {
  margin-left: 2%;
}

.infoIngredient {
  align-self: center;
}
