<!-- IMAGE -->
<div id="divHeader" [ngStyle]="headerImageStyle">
    <!-- DIV TOP -->
    <div id="divTop">
        <!-- BTN RETURN -->
        <div id="divBtnReturn">
            <a routerLink="/lista-receitas/">
                <img src="../../../assets/imgs/icon-back.png">
                Voltar
            </a>
        </div>
        <!-- BTN RETURN -->

        <!-- DIV PREPARATION TIME -->
        <div id="divPreparationTime">
            <img src="../../../assets/imgs/icon-time.png" alt="Relógio">

            Tempo de preparo
            <br>
            <span id="preparationTime">{{recipe.PreparationTime}} minutos</span>
        </div>
        <!-- DIV PREPARATION TIME -->
    </div>
    <!-- DIV TOP -->

    <div id="divInfoRecipe">
        <h2 id="recipeName">{{recipe.Name}}</h2>
        <p id="recipeDescription">{{recipe.Description}}</p>
    </div>
</div>
<!-- IMAGE -->

<div class="pageContent">
    <!-- LIST INGREDIENTS -->
    <div id="divIngredients">
        <h3>Ingredientes</h3>

        <div *ngFor="let ingredient of listIngredients" class="list">
            <div class="left">
                <label nz-checkbox [(ngModel)]="ingredient.Done" (ngModelChange)="verifyAllOptionsValid()"></label>
            </div>

            <div class="left steps infoIngredient">
                {{ingredient.Quantity}} {{ingredient.Name}}
            </div>

            <br />
        </div>
    </div>
    <!-- LIST INGREDIENTS -->

    <nz-divider></nz-divider>

    <!-- LIST STEPS -->
    <div id="divSteps">
        <h3>Modo de preparo</h3>

        <div *ngFor="let step of listSteps" class="list">
            <div class="left">
                <label nz-checkbox [(ngModel)]="step.Done" (ngModelChange)="verifyAllOptionsValid()"></label>
            </div>

            <div class="left steps">
                <h3>Passo {{ step.Order }}</h3>
                <p>{{ step.ToDo }}</p>
            </div>

            <br />
        </div>
    </div>
    <!-- LIST STEPS -->
</div>

<!-- FOOTER -->
<nz-affix nzOffsetBottom="0">
    <div id="divFooter">
        <button nz-button id="btnStart" nzType="primary" [disabled]="!isValid" (click)="start()"
            *ngIf="!inProgress; else templateBtnFinish">
            Iniciar preparação
        </button>

        <ng-template #templateBtnFinish>
            <button nz-button nzType="default" id="btnFinish" (click)="finish()">
                Finalizar
            </button>
        </ng-template>
    </div>
</nz-affix>
<!-- FOOTER -->