<!-- MENU -->
<button id="btnMenuCollapse" *ngIf="mode == 'vertical'" nz-button nzType="default" (click)="toggleCollapsed()">
    <i nz-icon [nzType]="!isCollapsed ? 'menu-unfold' : 'menu-fold'"></i>
</button>

<ul nz-menu [nzMode]="mode" nzTheme="dark" *ngIf="mode == 'horizontal' || isCollapsed">
    <!-- LOGO -->
    <li nz-menu-item id="divLogo">
        <img src="../../../assets/imgs/logo-coco-bambu-mini.png" alt="Logo" />
    </li>
    <!-- LOGO -->

    <!-- SEARCHBAR -->
    <li nz-menu-item>
        <nz-input-group [nzSuffix]="suffixIconSearch">
            <input type="text" nz-input placeholder="Buscar receita..." [(ngModel)]="searchText"
                (ngModelChange)="search($event)" />
        </nz-input-group>

        <ng-template #suffixIconSearch>
            <img src="../../../assets/imgs/icon-busca.png" width="25">
        </ng-template>
    </li>
    <!-- SEARCHBAR -->

    <!-- BUTTONS -->
    <!-- PEDIDOS -->
    <li nz-menu-item nzMatchRouter>
        <a href="#">
            <!-- <img src="../../../assets/imgs/"> -->
            Pedidos
        </a>
    </li>
    <!-- PEDIDOS -->

    <!-- RECEITAS -->
    <li nz-menu-item nzMatchRouter="true">
        <a routerLink="/lista-receitas/">
            <!-- <img src="../../../assets/imgs/"> -->
            Receitas
        </a>
    </li>
    <!-- RECEITAS -->

    <!-- SAIR -->
    <li nz-menu-item>
        <a (click)="logout()">
            <!-- <img src="../../../assets/imgs/"> -->
            Sair
        </a>
    </li>
    <!-- SAIR -->
    <!-- BUTTONS -->
</ul>
<!-- MENU -->

<!-- LIST -->
<div class="pageContent">
    <h2>Lista de receitas</h2>

    <nz-list nzBordered>
        <nz-list-item *ngFor="let recipe of listSearch">
            <img class="imgRecipeSm" src="{{config.IMG_URL}}{{recipe.ImageURL}}">

            <div class="divInfoRecipe">
                <h3>{{recipe.Name}}</h3>

                <p class="recipeDescription">{{recipe.Description}}</p>
            </div>

            <button nz-button nzType="primary" nzShape="circle" class="btnDetailsRecipe"
                routerLink="/detalhes-receita/{{recipe._id}}">
                Ver
                <br>
                receita
            </button>
        </nz-list-item>
    </nz-list>
</div>
<!-- LIST -->